$white-color: #FFFFFF;
$pink-color: #FF6464;
$black-color: #000000;

// gray color
$gray-color: #C4C4C4;
$gray-light-color1: #8695A4;
$gray-light-color2: #E0E0E0;

// blue color
$blue-light-color1: rgb(77, 77, 224);
$blue-light-color2: #00A8CC;
$blue-dark-color: #21243D;
$bg-blue-color: #EDF7FA;
