// bg - primary, secondary
// btn - default, hover, active, error, disabled
// font

$bg-primary: #FFFFFF;
$bg-secondary: #21243D;
$bg-gray: #C4C4C4;
$bg-skyblue: #EDF7FA;

$btn-primary-default: #FF6464;
$btn-primary-hover: #fa9f9f;

$btn-secondary-default: #21243D;
$btn-secondary-hover: #414879;

$border-default: #21243D;
$border-secondary: #C4C4C4;
$border-black: #000000;
$border-gray: #8695A4;
$border-gray-light: #E0E0E0;

$font-primary: #21243D;
$font-secondary: #000000;
$font-white: #FFFFFF;
$font-error: #FF6464;
$font-skyblue: #EDF7FA;
$font-seablue: #00A8CC;
$font-active-link:  rgb(77, 77, 224);
$font-gray: #8695A4;
